* {
    padding: 0;
    margin: 0;
}

.box {
    position: relative;
    float: left;
    padding-left: 8px;
}

.content {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.content img {
    width: 190px;
    height: auto;
}

.content p {
    font-size: 12px;
    padding-left: 8px;
    margin-top: 5px;
}

/*返回顶部*/
.goto-top {
    display: none;
    width: 50px;
    height: 50px;
    background: url(../images/to-top.png) no-repeat;
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 10;
}
